# =========================
# .NET / C#
# =========================
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# =========================
# Visual Studio
# =========================
.vs/
*.vscode/
.vscode/

# Rider
.idea/

# =========================
# NuGet
# =========================
*.nupkg
# packages/  # (si usas PackageReference, NO descomentar)
# *.snupkg

# =========================
# Logs
# =========================
*.log

# =========================
# Test results
# =========================
TestResults/
*.trx

# Secrets
secrets.json

# =========================
# User-specific files
# =========================
*.rsuser
*.userprefs
*.suo
*.user

# =========================
# OS files
# =========================
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store

# Linux
*~

# =========================
# Publish
# =========================
publish/